
body {
	margin:0px;
	padding:0px;
    background-color: #d8d9dc;
}

html {
    font-size: 62.5%;
}
  
@media (max-width: 400px) {
    html {
        font-size: 46.875%;
    }
}
  
@media (min-width: 800px) and (max-width:1219px) {
    html {
        font-size: 78.125%;
    }
}

@media (min-width:1220px) and (max-width: 1439px) {
    html {
        font-size: 90%;
    }
} 

@media (min-width: 1440px) and (max-width: 1599px){
    html {
        font-size: 100%;
    }
}

@media (min-width: 1600px) and (max-width: 1999px){
    html {
        font-size: 110%;
    }
}

@media (min-width: 2000px) and (max-width: 2600px) {
    html {
        font-size: 120%;
    }
}

@media (min-width: 2601px) and (max-width: 3000px) {
    html {
        font-size: 130%;
    }
}

@media (min-width: 3001px) and (max-width: 3600px) {
    html {
        font-size: 140%;
    }
}

@media (min-width: 3601px) and (max-width: 4000px) {
    html {
        font-size: 150%;
    }
}

@media (min-width: 4001px) and (max-width: 4600px) {
    html {
        font-size: 160%;
    }
}

.pagenotfound{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    font-family: monospace;
    justify-content: center;
}

.notfound{
    color: rgb(33, 33, 33);
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.125rem;
    text-align: center;
    user-select: none;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}
.notfound-desc{
    color: rgb(33, 33, 33);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
    opacity: 0.6;
    max-width: 43.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

#game-area {
	margin:10px;
	padding:0px;
}

#mode-wrapper {
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;

}

#game-area:focus { outline: none; }

a.snake-link, a.snake-link:link, a.snake-link:visited {
  color: #FCFC54;
}

a.snake-link:hover {
  color: #FfFf54;
}

.snake-pause-screen {
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position:absolute;
    width:300px;
    height:80px;
    text-align:center;
    top:50%;
    left:50%;
    margin-top:-40px;
    margin-left:-150px;
    display:none;
    background-color:black;
    color:white;
}

.snake-panel-component {
    position: absolute;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    padding: 8px;
    margin: 0px;
}

.snake-snakebody-block {
    margin: 0px;
    padding: 0px;
    background-color: #d0cfcf;
    position: absolute;
    border: 0px solid #d0cfcf;
    background-repeat: no-repeat;
    z-index: 2;
}

.snake-snakebody-alive {
   background-image: url('/JavaScript-Snake/css/images/snakeblock.png');
}
.snake-snakebody-dead {
   background-image: url('/JavaScript-Snake/css/images/deadblock.png');
}

.snake-food-block {
    margin: 0px;
    padding: 0px;
    background-color: #d1d1d1;
    border: 0px solid #d1d1d1;
    animation: beat .25s infinite alternate;
    position: absolute;
    z-index: 3;
}

.snake-playing-field {
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: #f0f2f5;
    border: 0px solid #f0f2f5;
}

.snake-game-container {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: none;
    zoom: 1;
    position: relative;
}

.snake-welcome-dialog {
    padding: 8px;
    margin: 0px;
    /* background-color: #d8d9dc; */
    color: #b2b0b0;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    bottom: 52px;
    left: 50%;
    width: 300px;
    /*height: 150px;*/
    margin-top: -100px;
    margin-left: -158px;
    text-align: center;
    display: block;
}
/* Heart beat animation */
@keyframes beat{
	to { transform: scale(1.1); }
}

.snake-try-again-dialog, .snake-win-dialog {
    padding: 8px;
    margin: 0px;
    /* background-color: #dbdbdb; */
    color: #b2b0b0;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    /* top: 50%; */
    bottom: 52px;
    left: 50%;
    width: 300px;
    height: 100px;
    margin-top: -75px;
    margin-left: -158px;
    text-align: center;
    display: none;
}
